body
{
    font-family: "IBM Plex Mono", monospace;
    background-color: #1e1e1e;
    color: white;
}

table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

tr, td
{
    border: 0px;
}

input
{
    font-family: "IBM Plex Mono", monospace;
    background-color: #2e2e2e;
    border: 2px solid #464646;
    border-radius: 5px;
    box-sizing: border-box;
    color: whitesmoke;
    height: 40px;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;

    transition: all 0.3s;
}

input:focus
{
    outline: 0px;
    border: 2px solid #20C20E;
}

.accent-button 
{
    font-family: "Lato", sans-serif;
    background-color: #4d4d4d;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.accent-button:hover 
{
    background-color: #1aa30c;
    box-shadow: 0 0 5px #20C20Eaa, 0 0 5px #20C20E55;
}

.accent-button:active 
{
    box-shadow: 0 0 7px #20C20E66;
}

.main_area
{
    width: min(80%, 1000px);
    margin: auto;
}

.header
{
    text-align: center;
}

.subheader
{
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

.input_area
{
    margin-top: 30px;
}

.viewer_container
{
    margin-top: 30px;
}

.container
{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #000000;
    box-sizing: border-box;
}

.label
{
    margin-bottom: 15px;
}

.indicator
{
    border: solid 1px #1e1e1e;
}

.no_vertical
{
    border-left: 0;
    border-right: 0;
}

.zero
{
    border-bottom: solid 2px #2e2e2e;
}

.signal
{
    height: 50px;
}

.on_top
{
    border-top-width: 3px;
    border-top-color: #20C20E;
}

.on_bottom
{
    border-bottom-width: 3px;
    border-bottom-color: #20C20E;
}

.on_left
{
    border-left-width: 3px;
    border-left-color: #20C20E;
}

.on_right
{
    border-right-width: 3px;
    border-right-color: #20C20E;
}

.binary_label
{
    text-align: center;
    height: 20px;
    vertical-align: bottom;
}